# -------------------------
# Node modules
# -------------------------
node_modules/

# -------------------------
# Environment variables
# -------------------------
.env
backend/.env
frontend-old/.env

# -------------------------
# Build folders
# -------------------------
dist/
build/

# -------------------------
# Logs
# -------------------------
logs/
*.log

# -------------------------
# OS / System files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# IDE
# -------------------------
.vscode/
